* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    padding-bottom: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(230, 250, 245);
    color: rgb(30, 30, 30);
    min-height: 100vh;
    border-radius: 20px;
    border: 1px solid rgb(73, 216, 183);
}


.header {
    padding: 20px 20px;
    text-align: center;
    color: rgb(30, 30, 30);
    box-shadow: 0 4px 6px rgba(101, 212, 157, 0.1);
}

.header-top {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.header-img {
    width: 42px;
    height: 42px;
}

.header-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.8;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    opacity: 0.9;
    margin-bottom: 12px;
}

.header-button {
    width: 250px;
    height: 40px;
    background: rgb(100, 200, 180);
    color: white;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    text-align: center;
}

.header-button:hover {
    transform: translateY(+3px);
    box-shadow: 0 8px 16px rgba(0, 29, 15, 0.1);
    cursor: pointer;
}

.header-button:active {
    transform: translateY(0);
}

.gallery {
    padding: 20px;
    font-family: 'Playfair Display', serif;
}

.gallery h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.8;
    color: rgb(30, 30, 30);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.gallery-item {
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(3, 71, 31, 0.2);
}


/* Contact Section (Секция контактов) */

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 12px;
    background: var(--secondary-color);
    border-radius: 8px;
    gap: 10px;
}

.contact-item a {
    text-decoration: none;
}

.contact-section h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.8;
    color: rgb(30, 30, 30);
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.contact-icon-address {
    width: 48px;
    height: 48px;
}

.contact-icon-clock {
    width: 48px;
    height: 48px;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: rgb(230, 250, 245);
    width: 90%;
    max-width: 320px;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    animation: fadeIn 0.3s ease;
}

.modal-btn {
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    background: rgb(100, 200, 180);
    color: white;
}

.close {
    align-self: flex-end;
    font-size: 22px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .contact-info {
        display: flex;
        flex-direction: column;
    }
}